extends layout

block content
  h1 Weather station information
  h2 Sensor data
  // text representation of sensor data
  div(id='sensor_data')
    ul(id='sensor_data_items')

  // charts
  h2 Sensor data charts
  // global charts container
  div(id='sensor_data_charts')
