doctype html
html
  head
    title Weather station information
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/Chart.min.js')
    script(src='/javascripts/data_processing.js')
  body
    block content
